@model VM_MVC.Models.GeneralMovieInfo
@using System.Web.Mvc;
@{
    ViewBag.Title = "GeneralMovieInfo";
}

<div class="product">
    @{
        MvcHtmlString htmlString = new MvcHtmlString(Model.StoryAbstract);
        string detailUrl = Url.RouteUrl("ProductDetail", new
        {
            Controller = "Product",
            Action = "Detail",
            ProductName = Model.Name,
            ProductId = Model.ProductID
        });
        <div id="productIndex">
            @ViewBag.Index
        </div>
        <a href="@detailUrl">
            <img src="@Url.Content("~/images/" + Model.Poster)" class="poster" alt="@Model.Name" />
        </a>
        <div class="title">@Model.Name</div>
        <div>@Html.LabelFor(m => m.Genre): @Url.GenreLinks(Model.Genre)</div>
        <div>@Html.LabelFor(m => m.Starring): @Url.ActorLinks(Model.Starring)</div>
        <div>@Html.LabelFor(m => m.Director): @Model.Director</div>
        <div>@Html.LabelFor(m => m.Language): @Model.Language</div>
        <div>@Html.LabelFor(m => m.ReleaseYear): @Model.ReleaseYear</div>
        <div>@Html.LabelFor(m => m.StoryAbstract): @Model.StoryAbstract</div>
        <div>
            @{ 
                if (ViewBag.Index % ViewBag.PageCount == 0)
                {
                    ViewBag.Flag = ViewBag.PageCount;
                }
                else
                {
                    ViewBag.Flag = ViewBag.Index % ViewBag.PageCount;
                }
            }
            <input class="textInput" id="input@(ViewBag.Flag)" type="text" name="number" value="1" />
            <input class="buttonInput" id="btnAdd@(ViewBag.Flag)" type="submit" value="Add To Cart" />
            <input type="hidden" id="proId@(ViewBag.Flag)" name="ProductId" value="@Model.ProductID" />
            <input type="hidden" id="price@(ViewBag.Flag)" name="Price" value="@Model.Price" />
            <input type="hidden" id="name@(ViewBag.Flag)" name="ProductName" value="@Model.Name" />
        </div>
    }
</div>

